* {
  box-sizing: border-box;
}
/* Inline your critical styles */
html, body {
  /* Define app variables */
  --app-bg-color: #fafafa;
  --app-text-color: #313131;
  --app-card-color: #ffffff;
  --app-grey-color: #E2E2E2;
  --app-header-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--app-bg-color);
  font-size: 16px;
  font-family: sans-serif;
  color: var(--app-text-color);
}


.root{
	display: flex;
	background-color: #2d84cc;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
}

.logo{
	margin: 0;
	color: #fff;
	font-size: 14pt;
}



.root_Tweet_item{
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 1em;
	margin: 0.5em;
}

.text{
	font-size: 16pt;
	font-weight: 200;
}

.user{
	display: flex;
	align-items: center;
}

.avatar{
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

.displayName{
	font-weight: bold;
	padding: 0.5em;
}

.username{
	color: #aaa;
}

.date{
	color: #aaa;
	padding: 0.5em;
	font-size: 8pt;
}

.buttons{
	display: flex;
	justify-content: flex-start;
	color: #aaa;
}

.icon_reply{
	margin-right: 3em;
}

.num{
	font-size: 10pt;
	margin-right: 3em;
	margin-left: 0.25em;
}

.space{
	margin-right: 3em;
}

.rtGreen{
	color: #20883f;
	margin-right: 3em;
}

.favYellow{
	color: #e2c400;
}

.root_listTweet{
  margin: 0.5em;
}

.tweet_text{
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 90%;
	height: 5em;
	padding: 0.75em;
	margin: 1em 0.5em;
}

.tweet_button{
	display: flex;
	justify-content: flex-end;
}

.tweet_button > button {
	border-radius: 5px;
	padding: 0.5em 0.75em;
	margin: 0.25em;
}

.tweet_close{
	background-color: #fff;
	border: 1px solid #ddd;
}

.tweet_send{
	background-color: #2d84cc;
	border: 1px solid #226aa6;
	color: #fff;
}

.open_button_tweet{
	background-color: #2d84cc;
	color: #fff;
	border: 1px solid #1f6fb1;
	border-radius: 5px;
	margin: 0 1em;
	padding: 0.5em 0.75em;
}

.home_avatar{
	border-radius: 50%;
	width: 32px;
	height: 32px;
}

.home_username{
	color: #666;
}


/* Add padding to containers */
.container {
	padding: 16px;
	background-color: white;
	width: 70%;
	margin: auto;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
  }
  
  .registerbtn:hover {
	opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
	color: rgb(255, 30, 79);
  }


  .signoutbutton{
	background-color: #2d84cc;
	color: #fff;
	border: 1px solid #1f6fb1;
	border-radius: 5px;
	margin: 0 1em;
	padding: 0.5em 0.75em;
}
  

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }
  

  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
  }
  
  .title {
	color: grey;
	font-size: 18px;
  }