* {
  box-sizing: border-box;
}
/* Inline your critical styles */
html, body {
  /* Define app variables */
  --app-bg-color: #fafafa;
  --app-text-color: #313131;
  --app-card-color: #ffffff;
  --app-grey-color: #E2E2E2;
  --app-header-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--app-bg-color);
  font-size: 16px;
  font-family: sans-serif;
  color: var(--app-text-color);
}
a {
  color: inherit;
  text-decoration: none;
}
#app { height: 100%; }
#app > header {
  position: relative;
  padding: 0 16px;
  box-shadow: var(--app-header-shadow);
  z-index: 1;
}
#app > header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  font-size: 1.25rem;
}

/* Skeleton */
.skeleton {
  position: relative;
  margin: 1rem;
}
.skeleton .hero {
  min-height: 30vh;
  background: var(--app-grey-color);
  margin-bottom: 1rem;
  border-radius: 5px;
}
.skeleton .title {
  min-height: 20px;
  background: var(--app-grey-color);
  margin-bottom: 1rem;
}
.skeleton .text {
  min-height: 20px;
  max-width: 60%;
  background: var(--app-grey-color);
  margin-bottom: 1rem;
}

.skeleton::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
  animation: loading 1.5s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to top, #191d35, #255);
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: inherit;
    background: #3a9292;
    /*background: #1B2B39;*/
    box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header input {
    position: absolute;
    top: 45px;;
    width: 92%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px 25px 25px 10px;
    border: 0px;
    box-shadow: none;
    outline: none;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
    width: 50px;
    height: 50px;

    position:absolute;
    top:45px;
    right:15px;
    z-index:2;

    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    float: left;
    padding: 15px;
}

ul.todo {
    width: 100%;
    float: left;
}



ul.todo#completed:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;

    position: absolute;
    top: 30px;
    left: 50%;

    margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
    content: 'You have nothing to-do.';
    margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
    content: 'You have not completed any tasks.';
}

ul.todo#todo:after,
ul.todo#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

.plus.icon {
    color: #000;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-left: 3px;
    margin-top: 10px;
}

.plus.icon:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    color: #3a9292;
}

.plus.icon:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #3a9292;
}

.fa-trash-o {
    font-size: 23px;
    color: gainsboro;
}

.fa-trash-o:hover {
    color: #e85656;
}

.fa-check-square-o {
    color: gainsboro;
    padding-top: 2px;
    font-size: 24px;
}

.fa-check-square-o:hover {
    color: #25b99a;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 620px;
    /*background-color: #fff;*/
    background-color: #ECEDF1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
    animation: fadein 1s;
}

.wrapper-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

#completed li {
    text-decoration: line-through;
    opacity: 0.7;
}

#completed .remove {
    float: right;
}

.center {
    /*margin: 0 auto;*/
    /*width: 50%;*/
    display: table;
    margin: 0 auto;
}

.d {
    color: #ECEDF1;
    display: inline-block;
}

@media (min-device-width:0px) and (max-device-width: 736px)  {
    body {
        height: auto;
        min-height: 100vh;
    }
    .wrapper {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
}
