* {
  box-sizing: border-box;
}
/* Inline your critical styles */
html, body {
  /* Define app variables */
  --app-bg-color: #fafafa;
  --app-text-color: #313131;
  --app-card-color: #ffffff;
  --app-grey-color: #E2E2E2;
  --app-header-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--app-bg-color);
  font-size: 16px;
  font-family: sans-serif;
  color: var(--app-text-color);
}


.root{
	display: flex;
	background-color: #2d84cc;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
}

.logo{
	margin: 0;
	color: #fff;
	font-size: 14pt;
}



.root_Tweet_item{
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 1em;
	margin: 0.5em;
}

.text{
	font-size: 16pt;
	font-weight: 200;
}

.user{
	display: flex;
	align-items: center;
}

.avatar{
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

.displayName{
	font-weight: bold;
	padding: 0.5em;
}

.username{
	color: #aaa;
}

.date{
	color: #aaa;
	padding: 0.5em;
	font-size: 8pt;
}

.buttons{
	display: flex;
	justify-content: flex-start;
	color: #aaa;
}

.icon_reply{
	margin-right: 3em;
}

.num{
	font-size: 10pt;
	margin-right: 3em;
	margin-left: 0.25em;
}

.space{
	margin-right: 3em;
}

.rtGreen{
	color: #20883f;
	margin-right: 3em;
}

.favYellow{
	color: #e2c400;
}

.root_listTweet{
  margin: 0.5em;
}

.tweet_text{
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 90%;
	height: 5em;
	padding: 0.75em;
	margin: 1em 0.5em;
}

.tweet_button{
	display: flex;
	justify-content: flex-end;
}

.tweet_button > button {
	border-radius: 5px;
	padding: 0.5em 0.75em;
	margin: 0.25em;
}

.tweet_close{
	background-color: #fff;
	border: 1px solid #ddd;
}

.tweet_send{
	background-color: #2d84cc;
	border: 1px solid #226aa6;
	color: #fff;
}



.open_button_tweet{
	background-color: #2d84cc;
	color: #fff;
	border: 1px solid #1f6fb1;
	border-radius: 5px;
	margin: 0 1em;
	padding: 0.5em 0.75em;
}